{% extends 'FlightBooking/base.html' %}

{% block login_display %}
    <a href="#">您好， {{ username }}</a>
{% endblock %}

{% block js %}
    <script>

        function confirm_info() {
            var remain_seats = document.getElementById('remain_seats').innerHTML;
            document.getElementById('book_btns').style.display = "none";
            if (remain_seats > 0) {
                document.getElementById('book_success').style.display = "block";
            } else {
                document.getElementById('book_failure').style.display = "block";
            }
        }

        // ajax异步刷新页面
        function PostData() {
            $.ajax({
                type: "POST",
                url: "",
                data: ""
            });
            return false;
        }

    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top: 20px">
        <div class="alert" style="background-color: white;overflow: hidden"> <!--超出部分也是白色底-->
            <h1>您好</h1>
            <div id="info_body" style="margin-left: 50px;margin-right: 50px">
                <p>
                    请确认您的姓名： <strong style="font-size: large"> {{  username }} </strong>。
                </p>
                <p>
                    请确认您的 <strong style="font-size: large"> 取票通知及账单 </strong>。
                </p>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center">姓名</th>
                        <th style="text-align: center">航班</th>
                        <th style="text-align: center">起飞机场</th>
                        <th style="text-align: center">到达机场</th>
                        <th style="text-align: center">起飞时间</th>
                        <th style="text-align: center">到达时间</th>
                        <th style="text-align: center">价格</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <tr>
                        <td>{{ username }}</td>
                        <td>{{ flight.name }}</td>
                        <td>{{ flight.leave_city }}{{ flight.leave_airport }}</td>
                        <td>{{ flight.arrive_city }}{{ flight.arrive_airport }}</td>
                        <td>{{ flight.leave_time|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ flight.arrive_time|date:"Y-m-d H:i:s" }}</td>
                        <td>￥{{ flight.price }}</td>
                    </tr>
                    </tbody>
                </table>
                <p>
                    请在 <strong style="font-size: large"> {{ flight.leave_time|date:"Y-m-d" }} 前一天</strong> 凭<strong style="font-size: large"> 取票通知 </strong>取票。
                </p>
                <div id="book_success" style="display: none">
                    <p style="color: green;font-size: large;font-weight: bold">
                        您已成功订购了此次航班，请保管好航班信息，祝您旅途愉快！
                    </p>
                </div>

                <div id="book_failure" style="display: none">
                    <p style="color: red;font-size: large;font-weight: bold">
                        该航班票已售完，请选择其他航班，祝您旅途愉快！
                    </p>
                </div>

                <div id="book_btns" align="right">
                    <form onsubmit="return PostData()" method="post" style="display: inline">
                        <input class="btn btn-success" style="width: 80px" value="预订" type="submit"
                               onclick="confirm_info()">
                    </form>
                    <a class="btn btn-danger" style="width: 80px" onclick="history.back(-1);">返回</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}