.logo-container{
    position: relative;

}
.logo-container .logo{
    overflow: visible;
    border-radius: 50%;
    border: 10px solid #333333;
    width: 64px;
    float: left;
}
.logo-container .brand{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px
}
